.Navbar {
  margin: 0;
  box-shadow: 0 2px 4px gray;
  position: sticky;
  z-index: 3;
  padding: 0.5rem 1rem;
}

.navbar-container {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.navIcons > div {
  padding: 0.5rem;
}

.navIcons > div:hover {
  cursor: pointer;
  background-color: rgb(217, 214, 214);
}

.profile-navbar {
  position: relative;
  display: inline-block;
}

.profile-navbar > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo > img {
  width: 3rem;
  height: 3rem;
}

.Dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 8rem;
  z-index: 5;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 1.5rem;
}

.Dropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  height: 10px;
  width: 10px;
  right: 24px;
  background-color: white;
  transform: rotate(45deg);
}

.Dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.25s ease;
}

.Dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.25s ease all;
}

.dropdownItem {
  margin: 1rem auto;
}

.dropdownItem > li {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(221, 219, 219);
}

li > p {
  display: flex;
  gap: 0.75rem;
  font-size: 1.05rem;
}
